
/* 
Green Jelly Template 
http://www.templatemo.com/preview/templatemo_343_green_jelly 
*/

body {
	margin: 0;
	padding: 0;
	color: #888888;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.3em; 
	background-color: #3e3e3e;
	background-image: url(../images/templatemo_body.jpg);
	background-repeat: repeat;
}

a, a:link, a:visited { 
	color: #000; 
	font-weight: normal; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

a.more { 
	display: block; 
	margin-top: 20px; 
	width: 79px; 
	height: 27px; 
	line-height: 27px; 
	text-align: center; 
	color: #75a62c; 
	background: url(../images/templatemo_more.jpg) no-repeat; 
}

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#333; }
cite a, cite a:link, cite a:visited  { font-size: 12px; text-decoration: none; font-style: normal }
cite span { font-weight: 400; color: #666; }
em { color: #333; }

h1, h2, h3, h4, h5, h6 { color: #333; font-weight: normal; }
h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 24px; margin: 0 0 25px; padding: 10px; }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.hr_divider { display: block; margin-bottom: 40px; padding-bottom: 40px; background: url(../images/templatemo_hr_divider.png) bottom repeat-x  }

.float_l { float: left }
.float_r { float: right }

.image_frame_160 {  
	width: 140px; 
	height: 140px; 
	background: url(../images/templatemo_image_frame_160.png) no-repeat; 
	padding: 10px; 
	margin-bottom: 20px; 
}

.image_frame_300 {  
	width: 280px; 
	height: 140px; 
	background: url(../images/templatemo_image_frame_300.png) no-repeat; 
	padding: 10px; 
	margin-bottom: 20px; 
}

.image_frame_430 {  
	width: 410px; 
	height: 200px; 
	background: url(../images/templatemo_image_frame_430.png) no-repeat; 
	padding: 10px; 
	margin-bottom: 20px; 
}

.image_frame_215 {  
	background: url(../images/templatemo_image_frame_215.png) no-repeat; 
	padding: 6px; 
	margin-bottom: 15px; 
}

.image_frame_big { 
	width: 670px; 
	height: 300px; 
	background: url(../images/templatemo_image_frame_big.png) no-repeat; 
	padding: 10px; 
	margin-bottom: 20px; 
}

.image_fl { 
	float: left; 
	margin: 3px 30px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 30px; 
}

.templatemo_list { 
	list-style: decimal-leading-zero; 
	padding: 0 0 0 15px; 
	margin: 0 0 0 15px; 
}

.templatemo_list li { 
	color:#595858; 
	margin-bottom: 8px; 
}

.templatemo_list li a { 
	color: #595858; 
	font-weight: normal; 
	font-size: 12px; 
	text-decoration: none; 
}

.templatemo_list li a:hover { 
	text-decoration: underline; 
}

#templatemo_wrapper {
	width: 964px;
	margin: 35px auto 0;
	padding: 0 3px;
}

#templatemo_header {
	height: 41px;
	padding: 30px 20px;
	background: url(../images/templatemo_header.jpg) no-repeat
}

#site_title { 
	float: left; 
}

#site_title h1 { 
	margin: 0; 
	padding: 0; 
}

#site_title h1 a { 
	display: block; 
	padding-top: 34px; 
	width: 190px; 
	height: 29px; 
	text-align: right; 
	font-size: 12px; 
	font-weight: bold; 
	letter-spacing: 1px; 
	color: #000; 
	background: url(../images/templatemo_logo.png) no-repeat top left; 
}

#templatemo_search { float: right }

#templatemo_search form {
	margin: 0;
	padding: 0;
	height: 26px;
	width: 207px;
	background: url(../images/templatemo_search.png) no-repeat
}

#templatemo_search .txt_field {
	float: left;
	display: block;
	height: 27px;
	line-height: 20px;
	width: 165px;
	color: #000;
	font-size: 12px;
	padding: 0 7px;
	font-variant: normal;
	border: none;	
	background: none;
}

#templatemo_search .sub_btn {
	float: right;
	display: block;
 	height: 27px;
	width: 25px;
	cursor: pointer;
	border: none;
	background: none;	
}

#templatemo_menu {
	width: 100%;
	height: 47px;
	background: url(../images/templatemo_menu_bg.jpg) no-repeat center
}

#templatemo_menu_chang {
	width: 100%;
	height: 47px;
	background: url(../images/templatemo_menu_bg.jpg) no-repeat center
}

#templatemo_main {

	padding: 30px 22px;
	background: url(../images/templatemo_wrapper.jpg) repeat-y center	
}

#templatemo_slider_wrapper {
	padding: 0 2px;
	background: url(../images/templatemo_wrapper.jpg) repeat-y center	
}

#slider {
	position:relative;
	border-bottom: 5px solid #fff
}

#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}

#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
}

.nivo-controlNav a {
	display:block;
	text-indent: -9999px;
	border:0;
	margin-right:3px;
	float:left;
}

.nivo-controlNav a.active {
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}

a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}

a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}

.nivo-caption p { font-size: 12px }

.nivo-caption a { 
		color:#efe9d1;
		text-decoration:underline;
}

#templatemo_main h1 { 
	color: #75a62c; 
	font-size: 30px; 
	padding: 20px 10px; 
	background: url(../images/templatemo_hbg.jpg) no-repeat; 
}

#templatemo_main h2 { 
	width:79%;
	color: #75a62c; 
	font-size: 24px; 
	padding: 10px; 
	background: url(../images/templatemo_hbg.jpg); 
}

.testimonial { 
	padding: 0 0 0 50px; 
	display: block; 
	background: url(../images/testimonial.png) left top no-repeat; 
}

.col_2 { width: 450px; padding-right: 30px } 
.col_3 { float: left; width: 290px ; margin-right: 25px }
.col_4 { float: left; width: 215px; margin-right: 20px }
.col_b { width: 700px }
.col_l { margin: 0 }

.fp_h3 { 
	font-size: 18px; 
	font-weight: 700; 
	line-height: normal; 
	margin-bottom: 10px; 
}

#gallery { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

#gallery li { 
	margin: 0; 
	padding: 0; 
}

#gallery li a { 
	display: block; 
	float: left; 
	width: 140px; 
	margin: 0 14px 30px 0; 
	font-size: 11px; 
	color: #666;  
}

#gallery li a:hover { 
	text-decoration: none; 
}

#gallery li a img { 
	width: 140px; 
	margin-bottom: 10px; 
}

#gallery li .rm { 
	margin: 0 0 30px; 
}

.post_box { 
	clear: both; 
	margin-bottom: 60px; 
}

.post_box h2 { 
	font-size: 20px; 
	font-weight: 400; 
	margin-bottom: 15px; 
}

.post_box img { 
	float: left; 
	margin-right: 20px; 
}

.post_text { 
	float: left; 
	width: 360px; 
}
.post_meta { 
	float: right; 
	width: 200px; 
}

.post_meta ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.post_meta ul li { 
	margin: 0 0 10px; 
	padding: 0 0 10px; 
	border-bottom: 1px solid #ccc; 
}

#comment_section {
	clear: both;
	margin-bottom: 60px;
	width: 670px;
}

.first_level {
	margin: 0; padding: 0;
}

.comments {
	list-style: none; 
}

.comments li { 
	margin-bottom: 10px; 
	list-style:none; 
}

.comments li .commentbox1 { 
	border: 1px solid #ccc; 
}

.comments li .commentbox2 { 
	border: 1px solid #ccc;
}

.comments li .comment_box { 
	clear: both; 
	width:100%; 
	padding: 20px;  
}

.comment_box .gravatar { 
	float: right; 
	background: #000; 
}

.comment_box .gravatar img { 
	margin: 0; 
	width: 80px; 
	height: 80px; 
}

.comment_box .comment_text { 
	margin: 0 120px 0 0; 
}

.comment_box .comment_text p { 
	margin: 0; 
}

.comment_text .comment_author { 
	font-size: 14px; 
	font-weight: bold; 
	color: #000; 
	margin-bottom: 10px; 
}

.comment_text .date { 
	font-size: 12px; 
	font-weight: normal; 
	color: #000; 
	padding-left: 10px; 
}

.comment_text .time { 
	font-size: 12px; 
	font-weight: normal; 
	color: #000; 
	padding-left: 10px; 
}

.comment_text .reply a { 
	display: block; 
	clear: both; 
	float: left; 
	margin-top: 10px; 
	color: #000; 
	font-weight: 700; 
} 

#comment_form {
	clear: both;
}

#comment_form h3 {
	font-size: 20px;
	border-bottom: 1px dotted #666;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

#comment_form form {
	padding: 20px;
	background-color: #eee;
	border: 1px solid #ccc;
}

#comment_form textarea {
	background:#FFFFFF none repeat fixed 0 0;
	border: 1px solid #CCC;
	height:150px;
	padding:5px;
	width: 360px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#comment_form .form_row {
	width: 100%;
	margin-bottom: 15px;
}

#comment_form form input {
	padding: 5px;
	width: 230px;
	background:#FFFFFF none repeat fixed 0 0;
	border: 1px solid #CCC;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#comment_form .submit_btn {
	width: 80px;
	height: 30px;
	color: #000;
	background: #f4f6f9; 
	border: 1px solid #d3dae3;
}

.pagging { 
	margin: 0 0 20px; 
	padding: 0; 
}

.pagging ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.pagging ul li { 
	margin: 0; 
	padding: 0; 
	display: inline; 
}

.pagging ul li a { 
	float: left; 
	display: block; 
	color: #333; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background-color: #ddd; 
	border: 1px solid #ccc; 
}

.pagging ul li a:hover { 
	background: #a4d659; 
	border: 1px solid #666; 
	color: #000;  
}

#contact_form { 
	padding: 0; 
	width: 400px;
}

#contact_form form { 
	margin: 0px; 
	padding: 0px; 
}

#contact_form form .input_field { 
	width: 270px; 
	padding: 5px; 
	color: #222;  
	background: #f4f6f9; 
	border: 1px solid #d3dae3; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form label { 
	display: block; 
	width: 100px; 
	margin-right: 12px; 
	font-size: 13px; 
}

#contact_form form textarea { 
	width: 388px; 
	height: 180px; 
	padding: 5px; 
	color: #222;  
	background: #f4f6f9; 
	border: 1px solid #d3dae3; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form .submit_btn { 
	padding: 5px 14px; 
	color: #222;  
	background: #f4f6f9; 
	border: 1px solid #d3dae3; 
	font-size:14px; 
	margin: 10px 0px;
}

#templatemo_footer {
	width: 100%;
	padding: 20px 0;
	background: url(../images/templatemo_wrapper_bottom.jpg) no-repeat center top
}

#templatemo_footer em { 
	color: #ccc; 
}

#templatemo_footer h5 { 
	color: #ccc; 
	font-size: 16px; 
	font-weight: 700; 
	margin-bottom: 20px; 
}

.footer_list { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.footer_list li { 
	margin: 0 0 10px; 
	padding: 0 0 7px; 
	border-bottom: 1px dashed #000; 
}

.footer_list li a { 
	color: #ccc; 
	text-decoration: none; 
}

.footer_list li a:hover { 
	text-decoration: underline; 
}

.rp_box { 
	clear: both; 
	margin-bottom: 20px; 
	padding-bottom: 20px; 
	border-bottom: 1px dashed #000; 
}

.rp_box img { 
	float: left; 
	margin-right: 20px; 
	border: 4px solid #212121; 
}

.rp_box a { 
	text-decoration: none; 
	color: #888; 
}

.date { 
	font-style: italic; 
	font-size: 12px; 
	margin-bottom: 5px; 
	color: #666; 
}

.twitter_post { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.twitter_post li { 
	margin: 0 0 20px; 
	padding: 0 0 20px; 
	border-bottom: 1px dashed #2d261a; 
}

.twitter_post li a { 
	color: #ccc; 
}

.footer_social_button { 
	clear: both; 
	margin-top: 20px; 
}

.footer_social_button a { 
	margin-right: 5px; 
}

#templatemo_cr_bar_wrapper {
	width: 100%;
	border-top: 1px solid #494949;
	background: #161616
}

#templatemo_cr_bar {
	width: 960px;
	margin: 0 auto;
	padding: 15px 10px;
	color: #666;
	text-align: center
}

#container-left{
	width:100%;
	height:auto;
	padding:0px 0px 10px 0px;
	margin: 5px 5px 0px 0px;
	display:block;
	float:left;
	background-color:#FFF;
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	overflow:hidden;
}

#container-left_n{
	width:79%;
	height:auto;
	padding:0px 0px 10px 0px;
	margin: 5px 5px 0px 0px;
	display:block;
	float:left;
	background-color:#FFF;
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	overflow:hidden;
}


#container-right{
	width:20%;
	height:auto;
	padding:5px 0px 10px 0px;
	margin:5px 0px 0px 0px;
	display:block;
	float:left;
	background: url(../images/menu/content-menu.png) repeat-x #3e3e3e;
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	border-style: solid;
	border-width: 1px;
	overflow:hidden;
}

.txtboxl{
	width:400px;
	height:16px;
}


.txtbox{
	width:180px;
	height:16px;
}


.table-full{
	width:100%;
	height:auto;
	border-width:0px;
}

.line{
	background:url(../images/line/line.png) repeat-x;
	width:100%;
	height:5px;
}

.green{
	color:#32201b;
	font-size:16px;
	font-weight:bold;
}

.margin{
	margin: 5px 5px;
}

.center{
	text-align:center;
}

.cusor{
	cursor:pointer;
}

#header-menu{
	width:100%;
	height:48px;
	margin:-10px 0px 0px 0px;
}

#login{
	float:right;
	width:65%;
	height:auto;
}

#header-menu{
	width:100%;
	height:48px;
	margin:-10px 0px 0px 0px;
}

.float-right{

	float:right;
}

.float-right_log{
	float:right;
}

.no{
	background:	url(../images/menu/content-menu.png) repeat-x #3e3e3e;
	border-style:solid;
	border-color:#CCC;
	border-width:1px;
	box-shadow:	#CCC 0em 0.1em 0.5em 0.1em;
	width:100px;
	height:50px;
	float:left;
	display:block;
	text-align:center;
	overflow:hidden;
	color:#FFF;
	font-weight:bold;
	font-size:15px;
	border-radius: 10px;
}
#templatemo_cr_bar a { color: #888 }